@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url("alert/alert.css");
@import url("avatar/avatar.css");
@import url("badge/badge.css");
@import url("Button/button.css");
@import url("card/card.css");
@import url("form/form.css");
@import url("image/image.css");
@import url("input/input.css");
@import url("list/list.css");

:root{
    --yellow-400: #FBBF24;
    --yellow-200: #FDE68A;
    --gray-900: #111827; 
    --gray-300: #D1D5DB;
    --gray-400: #9CA3AF;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
}

*{
    margin: 0
}

body{
    margin-top: 0;
    /* overflow: hidden; */
    font-family: 'Libre Baskerville', serif;
}

.nav-root{
    max-width: 100%;
}

.name{
    display: block;
    font-size: 0.5rem;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
}

.header-nav__line{
    width: 100%;
    background-color: var(--yellow-400);
    height: 0.3rem;
    /* position: fixed; */
}

.content-menu{
    position: relative;
}

.mobile-nav{
    background-color: white;
    width: 100%;
    position: fixed;
    height: 3rem;
    z-index: 1;
    top: -0.01rem;
    /* border: 1px solid black; */
    /* height: 2rem; */
}

.mobile-menu{
    width: 2rem;
    height: 2rem;
    /* border: 1px solid black; */
    position: relative;
    left: 85vw;
    top: 0.4rem;

}

.mobile-menu__line{
    display: block;
    background: var(--gray-900);
    width: 100%;
    height: 0.3rem;
    border-radius: 0.2rem;
    margin: 0.27rem 0 0.2rem 0;
    transition: all 500ms linear;
    transform-origin: 3px 3px;
  
}

.click .mobile-menu__line:first-child{
    transform: rotate(45deg);
}

.click .mobile-menu__line:nth-child(2){
    opacity: 0;
}

.click .mobile-menu__line:nth-child(3){
    transform: rotate(-40deg);
}

.mobile-nav__heading{
    position: relative;
    width: 6.25rem;
    bottom: 1.8rem;
    font-size: 1.6rem;
    left: 0.5rem;
    font-weight: bold;
    color: var(--yellow-400);
}

.mobile-menu__item{
    display: none;
}

.mobile-menu__subitem{
    list-style: none;
    margin: 0.5rem 0;
}

.mobile-menu__subitem li{
    margin: 0.5rem 0;
    max-width: 100px;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.mobile-menu__subitem li:hover{
    background-color: var(--gray-300);
}

.mobile-menu__subitem a{
    text-decoration: none;
    color: var(--gray-600);
    font-size: 1.2rem;
}


.hidden-overflow{
    overflow: hidden;
}

.menu__mobile{
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -2rem;
    height: 100vh;
    width: calc(100% - 1rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: var(--light-grey);
    list-style: none;
    background: white;
}

.main-content{
    /* overflow-y: hidden;     overflow-x: scroll; */
    overflow: hidden;
    padding: 75px 0 0 1rem;
    position: relative;
}

.carbon-container{
    width: 100%;
    margin: 2rem 0 2rem 0rem;
}

.content{
    /* position: absolute;
    top: 0.2rem;
    margin-left: 25vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem 0rem;
    /* overflow-x: auto;
    overflow-y: hidden; */
    width: calc(100% - 15vw);
}

.box-border{
    border: 2px solid var(--gray-300);
    padding: 1rem;
    border-radius: 1rem;
}

.desktop-nav{
    display: none;
}

.desktop-menu__item{
    display: none;
}


@media all and (min-width: 476px){


    .mobile-nav{
        background-color: white;
        width: 100%;
        position: fixed;
        height: 3rem;
        z-index: 1;
        top: -0.01rem;
        /* border: 1px solid black; */
        /* height: 2rem; */
    }

    .name{
        display: block;
        font-size: 0.8rem;
        margin: 1rem 0 1rem 0;
        font-weight: 600;
    }

    .mobile-menu{
        width: 2rem;
        height: 2rem;
        /* border: 1px solid black; */
        position: relative;
        left: 91.8vw;
        top: 0.4rem;

    }

    .mobile-menu__line{
        display: block;
        background: var(--gray-900);
        width: 100%;
        height: 0.3rem;
        border-radius: 0.2rem;
        margin: 0.27rem 0 0.2rem 0;
        transition: all 500ms linear;
        transform-origin: 3px 3px;
    
    }

    .click .mobile-menu__line:first-child{
        transform: rotate(45deg);
    }

    .click .mobile-menu__line:nth-child(2){
        opacity: 0;
    }

    .click .mobile-menu__line:nth-child(3){
        transform: rotate(-40deg);
    }

    .mobile-nav__heading{
        position: relative;
        width: 6.25rem;
        bottom: 1.8rem;
        font-size: 1.6rem;
        left: 0.5rem;
        font-weight: bold;
        color: var(--yellow-400);
    }

    .mobile-menu__item{
        display: none;
    }

    .mobile-menu__subitem{
        list-style: none;
        margin: 0.5rem 0;
    }

    .mobile-menu__subitem li{
        margin: 0.5rem 0;
    }

    .mobile-menu__subitem a{
        text-decoration: none;
        color: var(--gray-900);
    }

    .hidden-overflow{
        overflow: hidden;
    }

    .menu__mobile{
        padding: 1rem 1rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -2rem;
        height: 100vh;
        width: calc(100% - 1rem);
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        background: var(--light-grey);
        list-style: none;
        background: white;
    }

    .main-content{
        /* overflow-y: hidden;     overflow-x: scroll; */
        overflow: hidden;
        padding: 96px 0 0 1rem;
        position: relative;
    }

    .content{
        overflow: hidden;
        /* position: absolute;
        top: 0.2rem;
        margin-left: 25vw; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem 1rem 1rem 0rem;
        /* overflow-x: auto;
        overflow-y: hidden; */
        width: calc(100% - 15vw);
    }

    .box-border{
        border: 2px solid var(--gray-300);
        padding: 1rem;
        border-radius: 1rem;
    }

    .desktop-nav{
        display: none;
    }

    .desktop-menu__item{
        display: none;
    }

}


@media all and (min-width: 768px) {

    .mobile-nav{
        display: none;
    }

    .mobile-menu__item{
        display: none;
    }

    .desktop-nav{
        display: block;
    }

    .desktop-menu__item{
        display: block;
    }

    .version{
        margin-top: 1rem;
        font-size: 1em;
        font-weight: bold;
        color: var(--gray-300);
        padding-right: 1rem;
    }

    .name{
        display: block;
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
        font-weight: 600;
    }

    .header-nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }

    .nav {
        display: flex;
        /* border: 1px solid black; */
        /* flex-grow: 1;
        justify-content: center; */
        align-items: center;
        position: relative;
        background-color: white;
    }

    .nav .desktop-nav__heading{
        /* list-style: none; */
        display: flex;
        padding-left: 1rem;
        margin-bottom: 0;
        padding-right: 40% ;
        margin-top: 0.5rem;
    }

    .nav .heading-link{
        text-decoration: none;
        padding: 0.5rem 1rem;
        font-size: larger;
        font-weight: bold;
        color: var(--yellow-400);
    }

    .nav .nav-social{
        list-style: none;
        display: flex;
        margin-bottom: 0;
        margin-top: 0.5rem;
        position: fixed;
        right: 1rem;
        
    }

    .nav-social .social-link{
        text-decoration: none;
        padding: 0.5rem;
        /* font-size: larger; */
        font-weight: bold;
        color: var(--gray-900);
    }

    .content-menu{
        top: 1rem;
    }

    .desktop-item__docs{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .desktop-item__docs a{
        text-decoration: none;
        color: var(--gray-500);
        cursor: pointer;
    }

    .desktop-item__docs a:hover{
        color: var(--gray-900);
        cursor: pointer;
    }

    .desktop-menu__item{
        border-right: 2px solid var(--gray-300);
        position: fixed;
        /* top: 2rem; */
        list-style: none;
        width: 15vw;
        height: 75vh;
        text-align: left;
        padding: 0 0 3rem 3rem;
        list-style: none;
        overflow-y: scroll;
    }

    .desktop-menu__item h3{
        font-size: 1rem;
        color: var(--gray-500);
    }

    .desktop-subitem ul{
        list-style: none;
        padding: 0 0 0 1rem;
    }

    .desktop-subitem a{
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--gray-400);
        width: 100%;
        /* text-align: center; */
    }

    .desktop-subitem li{
        margin: 1rem 0 1rem 0;
        width: 100%;
        padding: 1rem 0rem 1rem;
    }

    .desktop-subitem a:hover{
        color: var(--gray-900);
    }


    .main-content{
        overflow: hidden;
        max-width: 97%;
        padding: 96px 0 0 1rem;
        position: relative;
    }

    .content{
        position: relative;
        top: -5rem;
        margin-left: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 96px 1rem 1rem 1rem;
        /* overflow-x: auto; */
        overflow-y: scroll;
        height: 100vh;
        width: calc(100% - 15vw);
    }

    .box-border{
        border: 2px solid var(--gray-300);
        padding: 1rem;
        border-radius: 1rem;
        width: calc(100% - 25vw);
    }

    .carbon-container{
        margin-left: -3rem;
        position: relative;
        padding-bottom: 200px;
        padding-top: 35px;
        /* overflow: scroll; */
        height: 100%;
        width: calc(100% - 25vw);
    }

    .carbon-container iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}




