:root{
    --yellow-400: #FBBF24;
    --yellow-200: #FDE68A;
    --yellow-600: #D97706;
    --yellow-500: #D97706;
    --gray-900: #111827; 
    --gray-300: #D1D5DB;
    --gray-400: #9CA3AF;
    --gray-600: #4B5563;
    --gray-500: #6B7280;
}

.homepage{
    max-width: 650px;
    font-size: 4rem;
    margin: auto;
    margin-top: 4rem;
}

.gs-button{
    display: block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--yellow-400);
    margin-top: 2rem;

}

.gs-button:hover{
    background-color: var(--yellow-500);
}

.gs-button a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.fa-arrow-right{
    padding-left: 0.5rem;
    color: white;
}
