:root{
    --grey: #E5E7EB;
    --blue: #2563EB;
    --secondary-blue: #1D4ED8;
    --red: #DC2626;
    --secondary-red: #B91C1C;
    --yellow: #FBBF24;
    --black: #1F2937;
    --voilet: #EE82EE;
    --green: #10B981;
    --orange: #FFA500;
    --white: #F9FAFB;
    --darkGrey: #D1D5DB;
    --purple: #6D28D9;
    --secondary-purple: #5B21B6;
}

.button{
    margin-left: 3.5rem;

}

.name{
    display: block;
    font-size: large;
    margin: 1rem 0 1rem 3.5rem;
    font-weight: 600;
}

/* Simple Button */
.simple-btn{
    font-size: 15px;
    background-color: var(--grey);
    border: 0px;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.simple-btn:focus{
    outline: none;
}

.simple-btn:hover{
    background-color: var(--darkGrey);
}

/* Focusable Button */

.focusable-btn{
    font-size: 15px;
    background-color: var(--grey);
    border: 0px;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.focusable-btn:focus{
    outline: none;
}

.focusable-btn:hover{
    background-color: var(--darkGrey);
}

/* Save Button */

.save-btn{
    font-size: 15px;
    background-color: var(--blue);
    border: 0px;
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    color: var(--white);
    cursor: pointer;
}

.save-btn:focus{
    outline: none;
}

.save-btn:hover{
    background-color: var(--secondary-blue);
}

/* Discard Button */

.discard-btn{
    font-size: 15px;
    background-color: var(--grey);
    border: 0px;
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}

.discard-btn:focus{
    outline: none;
}

.discard-btn:hover{
    background-color: var(--darkGrey);
}

/* Like Count Button */

.like-count-btn{
    display: table;
    border: 1px solid var(--red);
    border-radius: 0.2rem ;
}

.like-count-btn:focus{
    outline: none;
}

.like-btn{
    font-size: 15px;
    border-right: 1px solid var(--red);
    border-color: var(--red) var(--red) var(--red) var(--red) ;
    background-color: var(--red);
    padding: 0.5rem 1rem;
    color: var(--white);
    cursor: pointer;
}

.like-btn:focus{
    outline: none;
}

.like-btn:hover{
    background-color: var(--secondary-red);
}

.count{
    font-size: 17px;
    padding: 0.2rem 0.5rem 0 0.5rem;
    font-weight: 600;
}

/* Cloud Button */

.cloud-btn{
    background-color: var(--grey);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.cloud-btn:focus{
    outline: none;
}

.cloud-btn:hover{
    background-color: var(--darkGrey);
}

/* Primary Button */

.primary-btn{
    padding: 0.5rem 1rem;
    border: 1px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    border-radius: 0.2rem;
    cursor: pointer;
}

/* Secondary Button */

.secondary-btn{
    padding: 0.5rem 1rem;
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.2rem;
    cursor: pointer;
}

/* Positive Button */

.positive-btn{
    padding: 0.5rem 1rem;
    border: 1px solid var(--green);
    background-color: var(--white);
    color: var(--green);
    border-radius: 0.2rem;
    cursor: pointer;
}

/* Negative Button */

.negative-btn{
    padding: 0.5rem 1rem;
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);
    border-radius: 0.2rem;
    cursor: pointer;
}

.buttons{
    margin-left: 3.5rem;
    background-color: var(--black);
    padding: 0.5rem;
    max-width: 290px;
}

.invert {
    display: block;
    font-size: large;
    margin: 1rem 0 1rem 3.5rem;
    font-weight: 600;
}

/* Red Button */

.red-btn{
    border: 1px solid var(--red);
    background-color: var(--black);
    color: var(--red);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.red-btn:hover{
    background-color: var(--red);
    color: var(--white)
}

/* Orange Button */

.orange-btn{
    border: 1px solid var(--orange);
    background-color: var(--black);
    color: var(--orange);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.orange-btn:hover{
    background-color: var(--orange);
    color: var(--white)
}

/* Yellow Button */

.yellow-btn{
    border: 1px solid var(--yellow);
    background-color: var(--black);
    color: var(--yellow);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.yellow-btn:hover{
    background-color: var(--yellow);
    color: var(--white)
}

/* Violet Button */

.violet-btn{
    border: 1px solid var(--voilet);
    background-color: var(--black);
    color: var(--voilet);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.violet-btn:hover{
    background-color: var(--voilet);
    color: var(--white)
}

/* Facebook Button */

.fb-btn{
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    border: none;
}

.fb-btn:focus{
    outline: none;
}

.fb-btn:hover{
    background-color: var(--secondary-blue);
}

/* Instagram Button */

.ig-btn{
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--white);
    background-color: var(--purple);
    cursor: pointer;
    border: none;
}

.ig-btn:focus{
    outline: none;
}

.ig-btn:hover{
    background-color: var(--secondary-purple);
}

/* Youtube Button */

.yt-btn{
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--white);
    background-color: var(--red);
    cursor: pointer;
    border: none;
}

.yt-btn:focus{
    outline: none;
}

.yt-btn:hover{
    background-color: var(--secondary-red);
}

/* Mini Button */

.mini-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.53rem 1.031rem;
    font-size: 0.7rem;
    cursor: pointer;
}

.mini-btn:focus{
    outline: none;
}

.mini-btn:hover{
    background-color: var(--darkGrey);
}

/* Tiny Button */

.tiny-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem 1.1rem;
    font-size: 0.85rem;
    cursor: pointer;
}

.tiny-btn:focus{
    outline: none;
}

.tiny-btn:hover{
    background-color: var(--darkGrey);
}

/* Small Button */

.small-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.67rem 1.19rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.small-btn:focus{
    outline: none;
}

.small-btn:hover{
    background-color: var(--darkGrey);
}

/* Medium Button */

.medium-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.69rem 1.32rem;
    font-size: 1rem;
    cursor: pointer;
}

.medium-btn:focus{
    outline: none;
}

.medium-btn:hover{
    background-color: var(--darkGrey);
}

/* Large Button */

.large-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.15rem;
    cursor: pointer;
}

.large-btn:focus{
    outline: none;
}

.large-btn:hover{
    background-color: var(--darkGrey);
}

/* Big Button */

.big-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.85rem 1.7rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.big-btn:focus{
    outline: none;
}

.big-btn:hover{
    background-color: var(--darkGrey);
}

/* Huge Button */

.huge-btn{
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    padding: 0.95rem 1.9rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.huge-btn:focus{
    outline: none;
}

.huge-btn:hover{
    background-color: var(--darkGrey);
}